@font-face {
  font-family: "Inter-Black";
  src: url('../styles/fonts/Inter-Black.ttf') format("truetype");
}
@font-face {
  font-family: "Inter-Bold";
  src: url('../styles/fonts/Inter-Bold.ttf') format("truetype");
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url('../styles/fonts/Inter-ExtraBold.ttf') format("truetype");
}
@font-face {
  font-family: "Inter-ExtraLight";
  src: url('../styles/fonts/Inter-ExtraLight.ttf') format("truetype");
}
@font-face {
  font-family: "Inter-Light";
  src: url('../styles/fonts/Inter-Light.ttf') format("truetype");
}
@font-face {
  font-family: "Inter-Medium";
  src: url('../styles/fonts/Inter-Medium.ttf') format("truetype");
}
@font-face {
  font-family: "Inter-Regular";
  src: url('../styles/fonts/Inter-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url('../styles/fonts/Inter-SemiBold.ttf') format("truetype");
}
@font-face {
  font-family: "Inter-Thin";
  src: url('../styles/fonts/Inter-Thin.ttf') format("truetype");
}
html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Inter-Regular';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #abacae;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}
dt,dl {
    color: #333;
}

h1, h2, h3, h4 {
  font-size: 38px;
  font-weight: 700;
  font-family: 'Inter-Bold';
}
ul.list-style {
    padding: 15px;
    color: #333;
}
ul.list-style li:before {
    content: "\2022";
    display: inline-block;
    position: absolute;
    left: 15px;
    font-size: 20px;
    color: #1e7e34;
}
ul.list-style b, ul.list-style strong {
    font-weight: bold;
    color: #333;
    font-size: 15px;
}
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 500;
  font-family: 'Inter-Regular';
  margin: 0px;
  font-size: 16px;
}

ul, ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

img{ max-width:100%;}
.navbar-brand {
  position: relative;
  padding: 0px;
  width: 15%;
}
div#navbarCollapse {
    width: 80%;
}
.footer-logo img {
    max-width: 80%;
}
.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  padding: 5px !important;
  top: 0px !important;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  background: #fff !important;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-brand img {
  width: 65%;
}

.top-nav-collapse .navbar-nav .nav-link {
  color: #585b60 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: #1e7e34 !important;
  border-color: #1e7e34 !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  color: #1e7e34 !important;
}

.navbar-expand-md .navbar-toggler {
  background: transparent;
  border: 1px solid #1e7e34;
  color: #1e7e34;
  border-radius: 4px;
  cursor: pointer;
}

.navbar-brand img {
  width: 65%;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #1e7e34 !important;
  border-color: #1e7e34;
}

.indigo {
  background: transparent;
}

.menu-bg {
  background: transparent;
}

.navbar-expand-md .navbar-nav .nav-link i {
  font-size: 14px;
  margin-left: 5px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-md .navbar-nav .nav-item {
  padding-left: 25px;
}

.navbar-expand-md .navbar-nav .nav-link {
  color: #fff;
  font-weight: 400;
  padding: 7px 0;
  cursor: pointer;
  position: relative;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-md .navbar-nav .nav-link:before {
  background-color: #fff;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  margin: 0 auto;
  width: 0;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: width 1s;
  -ms-transition: width 1s;
  -webkit-transition: width 1s;
}

.navbar-expand-md .navbar-nav li a:hover,
.navbar-expand-md .navbar-nav li .active > a,
.navbar-expand-md .navbar-nav li a:focus {
  color: #fff;
  outline: none;
}

.navbar-expand-md .navbar-nav .active > .nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open > .nav-link {
  color: #fff !important;
  width: 100%;
}

.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover::before,
.navbar-expand-md .navbar-nav .nav-link:focus {
  color: #fff;
  width: 100%;
  transition: width 1s;
  -webkit-transition: width 1s;
  -ms-transition: width 1s;
}

.navbar {
  padding: 10px 0;
  background-color: #043873;
}

.navbar li.active a.nav-link {
  color: #preset;
}
.copyright-content {
  text-align: center;
}

/** Hero Area **/
#hero-area {
  background-image: url(../assets/Element.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 710px;
  position: relative;
  overflow: hidden;
  padding: 180px 0 80px;
}
.hero-area-bg{
  background-color: #043873;
  color: #fff;
}
.hero-area-bg h1, .hero-area-bg p, .hero-area-bg a{
  color: #fff;
}
.contents.banner_area {
  padding: 10% 0px;
}
.hero-area-bg a{
  background-color: #4F9CF9;
}
.hero-area-bg a:hover{
  background-color: #fff;
  color: #043873;
}
/** Indus Leading **/

.indus-lead{
    background: #4F9CF9;
    border-radius: 34px;
    padding: 50px;
    color: #fff;
}
.indus-lead a{
  background-color: #043873;
  color: #fff;
}
.indus-lead a:hover{
  background-color: #fff;
  color: #043873;
}
.Management-list li:before {
  content: "\f00c";
  font-family: FontAwesome;
  color: #fff;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
}
.Management-list li{
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px;
  text-align: left;
}
